* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

html {
  /*1 rem = 10 px*/
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-size: 3.2rem;
  font-weight: bold; }

h2 {
  font-size: 2.4rem;
  font-weight: bold; }

h3 {
  font-size: 1.87rem;
  font-weight: bold; }

h4 {
  font-size: 1.79rem; }

p {
  font-size: 1.6rem; }

h5 {
  font-size: 1.33rem; }

h6 {
  font-size: 1.2rem; }

.footer-1 .footer-1-1 {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 20% 20%;
  grid-template-rows: 1fr;
  justify-content: none;
  align-items: flex-start;
  column-gap: none;
  row-gap: none;
  padding: 2rem;
  text-align: center; }
  .footer-1 .footer-1-1 .footer-1-1-1 {
    padding: 2rem 8rem 2rem 8rem; }
    .footer-1 .footer-1-1 .footer-1-1-1 p {
      letter-spacing: 0.1rem; }
  .footer-1 .footer-1-1 .footer-1-1-2 {
    padding: 2rem 8rem 2rem 8rem; }
    .footer-1 .footer-1-1 .footer-1-1-2 p {
      letter-spacing: 0.1rem; }
    .footer-1 .footer-1-1 .footer-1-1-2 .footer-1-1-2-2 {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      flex-direction: none;
      justify-content: center;
      align-content: none;
      align-items: flex-start;
      column-gap: 2rem;
      row-gap: none; }
      .footer-1 .footer-1-1 .footer-1-1-2 .footer-1-1-2-2 img {
        width: 2.4rem;
        height: 2.4rem; }
    .footer-1 .footer-1-1 .footer-1-1-2 .footer-1-1-2-3 {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      flex-direction: none;
      justify-content: center;
      align-content: none;
      align-items: flex-start;
      column-gap: 2rem;
      row-gap: none; }
      .footer-1 .footer-1-1 .footer-1-1-2 .footer-1-1-2-3 img {
        width: 2.4rem;
        height: 2.4rem; }
  .footer-1 .footer-1-1 .footer-1-1-3 {
    padding: 2rem 8rem 2rem 8rem; }
    .footer-1 .footer-1-1 .footer-1-1-3 img {
      width: 3.2rem;
      height: 3.2rem;
      margin: 1rem; }
  .footer-1 .footer-1-1 .footer-1-1-4 {
    padding: 2rem 8rem 2rem 8rem; }
    .footer-1 .footer-1-1 .footer-1-1-4 img {
      width: 3.2rem;
      height: 3.2rem;
      margin: 1rem; }

.footer-1 .footer-1-2 {
  padding: 3rem; }

.header-1 {
  /***************************************************/ }
  .header-1 .header-1-1 {
    display: flex;
    flex-flow: row wrap;
    flex-direction: none;
    justify-content: space-between;
    align-content: none;
    align-items: center;
    column-gap: none;
    row-gap: none;
    padding: 0rem 4rem 0rem 4rem;
    text-decoration: none; }
    .header-1 .header-1-1 .logo {
      width: 25.9rem;
      height: 9rem; }
    .header-1 .header-1-1 .icono {
      width: 3.2rem;
      height: 3.2rem;
      margin-left: 1rem; }
  .header-1 .header-1-2 label {
    display: none; }
    .header-1 .header-1-2 label .menu {
      width: 3.2rem;
      height: 3.2rem;
      margin: 1rem; }
    .header-1 .header-1-2 label :hover {
      cursor: pointer;
      background-color: #3c61bf; }
  .header-1 .header-1-2 .navbar {
    position: center; }
    .header-1 .header-1-2 .navbar ul {
      margin: 0rem;
      padding: 0rem;
      list-style: none;
      display: flex;
      flex-flow: none;
      flex-direction: row;
      justify-content: center;
      align-content: none;
      align-items: none;
      column-gap: 4rem;
      row-gap: none;
      background-color: #3c61bf; }
      .header-1 .header-1-2 .navbar ul li a {
        display: block;
        font-size: 2rem;
        color: white;
        border-radius: 0.3rem;
        letter-spacing: 0.1rem;
        padding: 0.4rem 0rem 0.4rem 0rem;
        text-align: center;
        text-decoration: none; }
        .header-1 .header-1-2 .navbar ul li a:hover {
          background-color: #3c61bf;
          color: #00b1ea;
          transition: all 0.5s ease-in-out; }
  .header-1 .header-1-2 #btn-menu {
    display: none; }

.main-i .banner-i1 .banner-i1-1 {
  display: block;
  width: 100%;
  margin: 0rem; }

.main-i .banner-i1 .banner-i1-2 {
  display: none; }

.main-i .main-i1 {
  background-color: white; }
  .main-i .main-i1 div h1 {
    margin: 0rem;
    padding: 4rem 1rem 0rem 1rem;
    text-align: center; }
  .main-i .main-i1 .main-i1-1 {
    margin: 0rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(16rem, 32rem));
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: flex-start;
    column-gap: 3rem;
    row-gap: 3rem;
    padding: 4rem;
    text-align: center; }
    .main-i .main-i1 .main-i1-1 div h3 {
      text-align: center;
      letter-spacing: 1px;
      padding: 2rem 2rem 2rem 2rem; }
    .main-i .main-i1 .main-i1-1 div img {
      border-radius: 50%;
      border-width: 0.1rem;
      object-fit: cover;
      width: 100%;
      height: 100%; }

.main-i .main-i2 {
  background-color: #00b1ea; }
  .main-i .main-i2 div h1 {
    margin: 0rem;
    padding: 4rem 0rem 0rem 0rem;
    text-align: center; }
  .main-i .main-i2 .main-i2-1 {
    margin: 0rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(16rem, 32rem));
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: flex-start;
    column-gap: 3rem;
    row-gap: 3rem;
    padding: 4rem;
    text-align: center; }
    .main-i .main-i2 .main-i2-1 div img {
      border-radius: 50%;
      border-width: 0.1rem;
      object-fit: cover;
      width: 100%;
      height: 100%; }

.main-f {
  background-color: white; }
  .main-f .banner-f1 .banner-f1-1 {
    display: block;
    width: 100%;
    margin: 0rem; }
  .main-f .banner-f1 .banner-f1-2 {
    display: none; }
  .main-f div h1 {
    margin: 0rem;
    padding: 4rem 0rem 0rem 0rem;
    text-align: center; }
  .main-f .main-f1 {
    margin: 0rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(16rem, 32rem));
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: flex-start;
    column-gap: 3rem;
    row-gap: 3rem;
    padding: 4rem;
    text-align: center; }
    .main-f .main-f1 div h2 {
      text-align: center;
      letter-spacing: 1px;
      padding: 2rem 2rem 2rem 2rem; }
    .main-f .main-f1 div img {
      border-radius: 1rem;
      border-width: 0.1rem;
      border-style: solid;
      object-fit: cover;
      width: 100%;
      height: 100%; }

.main-g .banner-g1 .banner-g1-1 {
  display: block;
  width: 100%;
  margin: 0rem; }

.main-g .banner-g1 .banner-g1-2 {
  display: none; }

.main-g .h1-1 {
  margin: 0rem;
  background-color: white;
  padding: 4rem 0rem 0rem 0rem;
  text-align: center; }

.main-g .main-g1 {
  margin: 0rem;
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, minmax(16rem, 32rem));
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: flex-start;
  column-gap: 3rem;
  row-gap: 3rem;
  padding: 4rem;
  text-align: center; }
  .main-g .main-g1 div h2 {
    text-align: center;
    letter-spacing: 1px;
    padding: 2rem 2rem 2rem 2rem; }
  .main-g .main-g1 img {
    border-radius: 1rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: black;
    object-fit: cover;
    width: 100%;
    height: 100%; }

.main-e .banner-e1 .banner-e1-1 {
  display: block;
  width: 100%;
  margin: 0rem; }

.main-e .banner-e1 .banner-e1-2 {
  display: none; }

.main-e .h1-1 {
  margin: 0rem;
  background-color: white;
  padding: 4rem 0rem 0rem 0rem;
  text-align: center; }

.main-e .main-e1 {
  margin: 0rem;
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, minmax(16rem, 32rem));
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: flex-start;
  column-gap: 3rem;
  row-gap: 3rem;
  padding: 4rem;
  text-align: center; }
  .main-e .main-e1 div h2 {
    text-align: center;
    letter-spacing: 1px;
    padding: 2rem 2rem 2rem 2rem; }
  .main-e .main-e1 img {
    border-radius: 1rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: black;
    object-fit: cover;
    width: 100%;
    height: 100%; }

.main-q .banner-q1 .banner-q1-1 {
  display: block;
  width: 100%;
  margin: 0rem; }

.main-q .banner-q1 .banner-q1-2 {
  display: none; }

.main-q .h1-1 {
  margin: 0rem;
  background-color: white;
  padding: 4rem 0rem 0rem 0rem;
  text-align: center; }

.main-q .main-q1 {
  margin: 0rem;
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, minmax(16rem, 32rem));
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: flex-start;
  column-gap: 3rem;
  row-gap: 3rem;
  padding: 4rem;
  text-align: center; }
  .main-q .main-q1 div h2 {
    text-align: center;
    letter-spacing: 1px;
    padding: 2rem 2rem 2rem 2rem; }
  .main-q .main-q1 img {
    border-radius: 1rem;
    border-width: 0.1rem;
    border-style: solid;
    border-color: black;
    object-fit: cover;
    width: 100%;
    height: 100%; }

.main-n .banner-n1 .banner-n1-1 {
  display: block;
  width: 100%;
  margin: 0rem; }

.main-n .banner-n1 .banner-n1-2 {
  display: none; }

.main-n .main-n1 {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr 1fr;
  justify-content: none;
  align-items: none;
  column-gap: none;
  row-gap: none; }
  .main-n .main-n1 .main-n1-1 {
    background-color: #00b1ea;
    display: flex;
    flex-flow: none;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    column-gap: none;
    row-gap: none; }
    .main-n .main-n1 .main-n1-1 .h1-3 {
      margin: 0rem;
      text-align: center; }
  .main-n .main-n1 .main-n1-2 {
    background-color: rgba(0, 176, 234, 0.25); }
    .main-n .main-n1 .main-n1-2 div {
      letter-spacing: 1px;
      padding: 4rem 6rem 4rem 6rem; }
  .main-n .main-n1 .main-n1-3 {
    background-color: #808284;
    display: flex;
    flex-flow: none;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    column-gap: none;
    row-gap: none; }
    .main-n .main-n1 .main-n1-3 .h1-4 {
      margin: 0rem;
      text-align: center; }
  .main-n .main-n1 .main-n1-4 {
    background-color: rgba(128, 130, 132, 0.25); }
    .main-n .main-n1 .main-n1-4 div {
      letter-spacing: 1px;
      padding: 4rem 6rem 4rem 6rem; }

.main-a {
  background-color: white; }
  .main-a .banner-a1-1 {
    display: block;
    width: 100%;
    margin: 0rem; }
  .main-a .banner-a1-2 {
    display: none; }
  .main-a div h1 {
    padding: 3rem 0rem 3rem 0rem;
    margin: 0rem;
    text-align: center; }
  .main-a .main-a1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 25rem);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    row-gap: 2rem;
    padding: 2rem;
    text-align: center; }
    .main-a .main-a1 .button {
      width: 25rem;
      background-color: rgba(128, 130, 132, 0.25);
      border-color: rgba(128, 130, 132, 0.25);
      border-radius: 2rem;
      text-align: center;
      color: black;
      padding: 1.5rem 3.2rem;
      font-size: 2rem;
      cursor: pointer;
      margin: 1.6rem 0.4rem; }
  .main-a div h4 {
    text-align: center;
    padding: 4rem;
    margin: 0rem; }

.main-c .main-c1 {
  background-color: #ecf0f3;
  border: 1px solid #bfd8eb;
  border-radius: 0.5rem;
  margin: 3rem auto;
  width: 60%;
  font-size: 2rem; }
  .main-c .main-c1 .h1-9 {
    background-color: #ecf0f3;
    padding: 3rem 0rem 3rem 0rem;
    margin: 0rem;
    text-align: center; }
  .main-c .main-c1 .main-c1-1 {
    background-color: rgba(60, 97, 191, 0.25);
    border-radius: 0.8rem 0.8rem 0rem 0rem;
    margin-bottom: 0rem; }
  .main-c .main-c1 .main-c1-2 {
    padding: 1.4rem; }
  .main-c .main-c1 label, .main-c .main-c1 input[type="submit"] {
    margin-top: 1rem; }
  .main-c .main-c1 .btn:focus {
    outline: none; }

.main-c .main-c2 {
  background-color: #e9d1a0;
  color: black;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: 1fr;
  justify-content: none;
  align-items: none;
  column-gap: none;
  row-gap: none;
  padding: 2rem; }
  .main-c .main-c2 .main-c2-1 {
    padding: 2rem; }
    .main-c .main-c2 .main-c2-1 h3 {
      text-align: center; }
    .main-c .main-c2 .main-c2-1 p {
      letter-spacing: 0.1rem;
      text-align: center; }
  .main-c .main-c2 .main-c2-2 {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-direction: none;
    justify-content: center;
    align-content: center;
    align-items: center;
    column-gap: 1rem;
    row-gap: none;
    padding: 2rem; }

@media (max-width: 1024px) {
  /******************************************/
  /**************HEADER - 1024***************/
  /******************************************/
  .header-1 {
    /***********************************************/ }
    .header-1 .header-1-1 .logo {
      width: 20.1rem;
      height: 7rem; }
    .header-1 .header-1-1 .icono {
      width: 2.4rem;
      height: 2.4rem;
      margin-left: 1rem; }
    .header-1 .header-1-2 label {
      display: block; }
      .header-1 .header-1-2 label .menu {
        width: 2.4rem;
        height: 2.4rem; }
    .header-1 .header-1-2 .navbar {
      margin: 0rem;
      padding: 0.5rem;
      position: absolute;
      background-color: #3c61bf;
      top: 11.3rem;
      width: auto;
      margin-left: -70%; }
      .header-1 .header-1-2 .navbar ul {
        margin: 0rem;
        padding: 0rem;
        list-style: none;
        background-color: #3c61bf;
        flex-direction: column;
        justify-content: flex-start; }
        .header-1 .header-1-2 .navbar ul li {
          border-top: 0.05rem solid white; }
          .header-1 .header-1-2 .navbar ul li a {
            display: block;
            font-size: 1.8rem;
            color: white;
            padding: 0.5rem 1.5rem 0.5rem 1.5rem;
            text-align: left;
            letter-spacing: 0.1rem; }
      .header-1 .header-1-2 .navbar .navbar-help {
        display: none; }
    .header-1 .header-1-2 #btn-menu:checked ~ .navbar {
      margin: 0rem; }
  /******************************************/
  /***************MAIN - 1024****************/
  /******************************************/
  /******************************************/
  /*pagina inicio.html - 1024               */
  /******************************************/
  .main-i .main-i1 .main-i1-1 {
    display: grid;
    grid-template-columns: repeat(2, minmax(16rem, 26rem));
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: flex-start;
    column-gap: 3rem;
    row-gap: 3rem; }
  .main-i .main-i2 .main-i2-1 {
    display: grid;
    grid-template-columns: repeat(2, minmax(16rem, 26rem));
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: flex-start;
    column-gap: 3rem;
    row-gap: 3rem; }
  /******************************************/
  /*pagina dgfiesta.html - 1024             */
  /******************************************/
  .main-f .main-f1 {
    display: grid;
    grid-template-columns: repeat(2, minmax(16rem, 26rem));
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: flex-start;
    column-gap: 3rem;
    row-gap: 3rem; }
  /******************************************/
  /*pagina dgnottas.html - 1024             */
  /******************************************/
  .main-g .main-g1 {
    display: grid;
    grid-template-columns: repeat(2, minmax(16rem, 26rem));
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: flex-start;
    column-gap: 3rem;
    row-gap: 3rem; }
  /******************************************/
  /*pagina dgediciones.html - 1024          */
  /******************************************/
  .main-e .main-e1 {
    display: grid;
    grid-template-columns: repeat(2, minmax(16rem, 26rem));
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: flex-start;
    column-gap: 3rem;
    row-gap: 3rem; }
  /******************************************/
  /*pagina edcoquito.html - 767             */
  /******************************************/
  .main-q .main-q1 {
    display: grid;
    grid-template-columns: repeat(2, minmax(16rem, 26rem));
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: flex-start;
    column-gap: 3rem;
    row-gap: 3rem; }
  /******************************************/
  /*pagina catalogos.html - 1024            */
  /******************************************/
  .main-a .main-a1 {
    display: grid;
    grid-template-columns: repeat(2, 25rem);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    row-gap: 2rem; }
  /******************************************/
  /*pagina nosotros.html - 1024             */
  /******************************************/
  /******************************************/
  /*pagina contactos.html - 1024            */
  /******************************************/
  .main-c1 {
    width: 100%;
    font-size: 2rem; }
  .main-c2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main-c2-1 {
    width: 80%; }
  .main-c2-2 {
    width: 80%; }
  /******************************************/
  /**************FOOTER - 1024***************/
  /******************************************/
  .footer-1 .footer-1-1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    justify-content: none;
    align-items: flex-start;
    column-gap: none;
    row-gap: none;
    text-align: center;
    padding: 2rem; }
    .footer-1 .footer-1-1 .footer-1-1-1 {
      padding: 2rem 6rem 2rem 6rem; }
    .footer-1 .footer-1-1 .footer-1-2-1 {
      padding: 2rem 6rem 2rem 6rem; }
    .footer-1 .footer-1-1 .footer-1-2 {
      text-align: center; } }

@media (max-width: 767px) {
  /******************************************/
  /***************HEADER - 767***************/
  /******************************************/
  .header-1 {
    /***********************************************/ }
    .header-1 .header-1-1 .logo {
      width: 14.4rem;
      height: 5rem; }
    .header-1 .header-1-1 .icono {
      width: 2.4rem;
      height: 2.4rem;
      margin-left: 1rem; }
    .header-1 .header-1-2 label {
      display: block; }
      .header-1 .header-1-2 label .menu {
        width: 2.4rem;
        height: 2.4rem; }
    .header-1 .header-1-2 .navbar {
      margin: 0rem;
      padding: 0.5rem;
      position: absolute;
      background-color: #3c61bf;
      top: 9.3rem;
      width: auto;
      margin-left: -100%; }
      .header-1 .header-1-2 .navbar ul {
        margin: 0rem;
        padding: 0rem;
        list-style: none;
        background-color: #3c61bf;
        flex-direction: column;
        justify-content: flex-start; }
        .header-1 .header-1-2 .navbar ul li {
          border-top: 0.05rem solid white; }
          .header-1 .header-1-2 .navbar ul li a {
            display: block;
            font-size: 1.8rem;
            color: white;
            padding: 0.5rem 1.5rem 0.5rem 1.5rem;
            text-align: left;
            letter-spacing: 0.1rem; }
    .header-1 .header-1-2 .navbar-help {
      display: none; }
    .header-1 #btn-menu:checked ~ .navbar {
      margin: 0rem; }
  /******************************************/
  /***************MAIN - 767*****************/
  /******************************************/
  /******************************************/
  /*pagina inicio.html - 767                */
  /******************************************/
  .main-i .banner-i1 .banner-i1-1 {
    display: none; }
  .main-i .banner-i1 .banner-i1-2 {
    display: block;
    width: 100%;
    margin: 0rem; }
  .main-i .main-i1 .main-i1-1 {
    display: grid;
    grid-template-columns: 25rem;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    column-gap: none;
    row-gap: 3rem; }
  .main-i .main-i2 .main-i2-1 {
    display: grid;
    grid-template-columns: 25rem;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    column-gap: none;
    row-gap: 4rem; }
  /******************************************/
  /*pagina dgfiesta.html - 767              */
  /******************************************/
  .main-f .banner-f1 .banner-f1-1 {
    display: none; }
  .main-f .banner-f1 .banner-f1-2 {
    display: block;
    width: 100%;
    margin: 0rem; }
  .main-f .main-f1 {
    display: grid;
    grid-template-columns: 25rem;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    column-gap: none;
    row-gap: 3rem; }
  /******************************************/
  /*pagina dgnottas.html - 767              */
  /******************************************/
  .main-g .banner-g1 .banner-g1-1 {
    display: none; }
  .main-g .banner-g1 .banner-g1-2 {
    display: block;
    width: 100%;
    margin: 0rem; }
  .main-g .main-g1 {
    display: grid;
    grid-template-columns: 25rem;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    column-gap: none;
    row-gap: 3rem; }
  /******************************************/
  /*pagina dgediciones.html - 767           */
  /******************************************/
  .main-e .banner-e1 .banner-e1-1 {
    display: none; }
  .main-e .banner-e1 .banner-e1-2 {
    display: block;
    width: 100%;
    margin: 0rem; }
  .main-e .main-e1 {
    display: grid;
    grid-template-columns: 25rem;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    column-gap: none;
    row-gap: 3rem; }
  /******************************************/
  /*pagina edcoquito.html - 767             */
  /******************************************/
  .main-q .banner-q1 .banner-q1-1 {
    display: none; }
  .main-q .banner-q1 .banner-q1-2 {
    display: block;
    width: 100%;
    margin: 0rem; }
  .main-q .main-q1 {
    display: grid;
    grid-template-columns: 25rem;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    column-gap: none;
    row-gap: 3rem; }
  /******************************************/
  /*pagina catalogos.html - 767             */
  /******************************************/
  .main-a .banner-a1 .banner-a1-1 {
    display: none; }
  .main-a .banner-a1 .banner-a1-2 {
    width: 100%;
    display: block;
    margin: auto; }
  .main-a .main-a1 {
    display: grid;
    grid-template-columns: 25rem;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    column-gap: none;
    row-gap: 2rem; }
  /******************************************/
  /*pagina nosotros.html - 767              */
  /******************************************/
  .main-n .banner-n1 .banner-n1-1 {
    display: none; }
  .main-n .banner-n1 .banner-n1-2 {
    width: 100%;
    display: block;
    margin: auto; }
  .main-n .main-n1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 1fr 8rem 1fr;
    justify-content: none;
    align-items: none;
    column-gap: 3rem;
    row-gap: none; }
    .main-n .main-n1 .main-n1-1 h1 {
      padding: 4rem 0rem 4rem 0rem; }
    .main-n .main-n1 .main-n1-2 div {
      padding: 4rem 4rem 4rem 4rem; }
    .main-n .main-n1 .main-n1-3 h1 {
      padding: 4rem 0rem 4rem 0rem; }
    .main-n .main-n1 .main-n1-4 div {
      padding: 4rem 4rem 4rem 4rem; }
  /******************************************/
  /*pagina contactos.html - 767             */
  /******************************************/
  .main-c1 {
    width: 90%; }
  .main-c2-1 {
    width: 90%; }
  .main-c2-2 {
    width: 90%; }
  /******************************************/
  /**************FOOTER - 767****************/
  /******************************************/
  .footer-1 .footer-1-1 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr) repeat(2, 15rem);
    justify-content: center;
    align-items: center;
    column-gap: none;
    row-gap: none;
    padding: 0rem;
    text-align: center; }
    .footer-1 .footer-1-1 .footer-1-1-1 {
      padding: 2rem 6rem 2rem 6rem; }
      .footer-1 .footer-1-1 .footer-1-1-1 p {
        letter-spacing: 0.1rem; }
    .footer-1 .footer-1-1 .footer-1-1-2 {
      padding: 2rem 6rem 2rem 6rem; }
      .footer-1 .footer-1-1 .footer-1-1-2 p {
        letter-spacing: 0.1rem; }
      .footer-1 .footer-1-1 .footer-1-1-2 .footer-1-1-2-2 img {
        width: 1.6rem;
        height: 1.6rem; }
      .footer-1 .footer-1-1 .footer-1-1-2 .footer-1-1-2-3 img {
        width: 1.6rem;
        height: 1.6rem; }
    .footer-1 .footer-1-1 .footer-1-1-3 {
      padding: 2rem 6rem 2rem 6rem; }
      .footer-1 .footer-1-1 .footer-1-1-3 img {
        width: 2.4rem;
        height: 2.4rem;
        margin: 1rem; }
    .footer-1 .footer-1-1 .footer-1-1-4 {
      padding: 2rem 6rem 2rem 6rem; }
      .footer-1 .footer-1-1 .footer-1-1-4 img {
        width: 2.4rem;
        height: 2.4rem;
        margin: 1rem; }
  .footer-1 .footer-1-2 {
    padding: 3rem 1rem 3rem 1rem;
    text-align: center; }
    .footer-1 .footer-1-2 h3 {
      font-size: 1.6rem; } }

.container-1 {
  background-color: white;
  width: 100%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  justify-content: none;
  align-items: none;
  column-gap: none;
  row-gap: none;
  grid-template-areas: "_header" "_main" "_footer"; }

header {
  grid-area: _header;
  color: white;
  background-color: #3c61bf; }

main {
  grid-area: _main;
  background-color: white; }

footer {
  grid-area: _footer;
  color: white;
  background-color: #3c61bf; }
