$color-azul: rgb(60,97,191);
$color-azul-oscuro: rgb(64, 81, 159);
$color-cian: rgb(0,177,234);
$color-cian-claro: rgba(0, 176, 234, 0.250);
$color-gris: rgb(128,130,132);
$color-gris-claro: rgba(128, 130, 132, 0.250);
$color-blanco: white;
$color-negro: black;
