.header-1 {
    background-color: $background-header;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

    .header-1-1 {
        @include flex(column, row, space-between, none, center, none, none);
        padding: 0rem 4rem 0rem 4rem;
        text-decoration: none;

        .logo {
            width: 23rem;
            height: 8rem;
        }
        
        .icono {
            width: 3.2rem;
            height: 3.2rem;
            margin-left: 1rem;
        }
    }

    .header-1-2 {
        margin: 0rem;
        text-decoration: none;
    
        label {
            display: none;
        }

        label .menu {
            width: 3.2rem;
            height: 3.2rem;
        }
        
        label:hover {
            cursor: pointer;
            background-color: $background-header;
        }

        .navbar {
            position: center;

            ul {
                margin: 0;
                list-style: none;
                background-color: $background-header;
                @include flex(column, row, center, center, center, 2rem, none);
                // padding: 0rem 0rem 0rem 0rem;
                
                li {
                    a {
                        display: block;
                        font-size: 2.2rem;
                        color: white;
                        border-radius: 3px;
                        letter-spacing: 1px;
                        /*padding: top right bottom left*/
                        padding: 0.5rem 2rem 0.5rem 2rem;
                        transition: all 0.5s linear;
                        text-align: center;
                        text-decoration: none;

                        &:hover {
                            background-color: $color-header;
                            color: $background-header;
                        }
                    }
                }
            }
        }

        #btn-menu {
            display: none;
        }
    }
}





