.main-g {
    .banner-g1 {
        .banner-g1-1 {
            display: block;
            width: 100%;
            margin: 0rem;
        }
        
        .banner-g1-2 {
            display: none;
        }
    }
}