.main-q {
    padding-top: 13rem;

    .banner-q1 {
        .banner-q1-1 {
            display: block;
            width: 100%;
            margin: 0rem;
        }
        
        .banner-q1-2 {
            display: none;
        }
    }
}