.main-e {
    .banner-e1 {
        .banner-e1-1 {
            display: block;
            width: 100%;
            margin: 0rem;
        }
        
        .banner-e1-2 {
            display: none;
        }
    }
}