.main-a {
    background-color: $color-blanco;
    padding-top: 13rem;

    .banner-a1-1 {
        display: block;
        width: 100%;
        margin: 0rem;
    }
    
    .banner-a1-2 {
        display: none;
    }

    .main-a1 {
        width: 100%;
        margin: auto;
        @include grid(repeat(3,25rem), repeat(2,1fr), center, center, 4rem, 2rem);
        padding: 2rem;
        text-align: center;

        button {
            width: 25rem;
            height: 6rem;
            position: relative;
            display: inline-block;
            border: 0.2rem solid $color-gris;
            border-radius: 3rem;
            background: $color-gris;
            color: $color-blanco;
            font-size: 1.8rem;
            font-weight: normal;
            padding: 1rem;
            text-align: center;
            text-decoration: none;
            transition: color 0.5s, background 0.5s;
        }

        button:hover {
            color: $color-gris;
            background-color: transparent;
        }
    }

    div {
        h1 {
            padding: 3rem 0rem 3rem 0rem;
            margin: 0rem;
            text-align: center;
        }

        h4 {
            text-align: center;
            padding: 4rem;
            margin: 0rem;
        }
    }
}