.main-n {
    padding-top: 13rem;
    
    .banner-n1 {
        .banner-n1-1 {
            display: block;
            width: 100%;
            margin: 0rem;
        }
        
        .banner-n1-2 {
            display: none;
        }
    }

    .main-n1 {
        width: 100%;
        margin: auto;
        @include grid(30% 70%, 1fr 1fr, none, none, none, none);

        .main-n1-1 {
            background-color: $color-cian;
            @include flex(none, row, center, center, center, none, none);

            .h1-3 {
                margin: 0rem;
                text-align: center;
            }
        }

        .main-n1-2 {
            div {
                letter-spacing: 1px;
                padding: 4rem 6rem 4rem 6rem;
            }
        }

        .main-n1-3 {
            background-color: $color-gris;
            @include flex(none, row, center, center, center, none, none);

            .h1-4 {
                margin: 0rem;
                text-align: center;
            }
        }
        
        .main-n1-4 {
            div {
                letter-spacing: 1px;
                padding: 4rem 6rem 4rem 6rem;
            }
        }
    }
}