.main-p {
    padding-top: 13rem;
    
    .h1-5 {
        background-color: rgb(218,229,118);
        color:black;
        text-align: center;
        padding: 2rem 0rem 2rem 0rem;
        margin: 0rem;
    }

    .main-p1 {
        width: 100%;
        margin: auto;
        background-color: rgba(218, 229, 118, 0.250);
        @include grid(repeat(3,31rem), repeat(2,1fr), center, center, 4rem, 2rem);
        padding: 2rem;
        text-align: center;

        h2 {
            padding: 2rem 0rem 2rem 0rem;
        }
        
        div {
            color:black;
            text-align: center;
        }
        
        img {
            text-decoration:none;
            border-radius: 50%;
            border-width: 1rem;
            border-style: solid;
            border-color: rgb(218,229,118);
            width: 30rem;
            height: 30rem;
        }
    }

    .h1-6 {
        background-color: rgb(233,209,160);
        color:black;
        padding: 2rem 0rem 2rem 0rem;
        margin: 0rem;
        text-align: center;
    }

    .main-p2 {
        width: 100%;
        margin: auto;
        background-color: rgba(233, 209, 160, 0.250);
        @include grid(repeat(3,31rem), repeat(2,1fr), center, center, 4rem, 2rem);
        padding: 2rem;
        text-align: center;

        h2 {
            padding: 2rem 0rem 2rem 0rem;
        }
        
        div {
            color:black;
            text-align: center;
        }
        
        img {
            text-decoration:none;
            border-radius: 50%;
            border-width: 1rem;
            border-style: solid;
            border-color: rgb(233,209,160);
            width: 30rem;
            height: 30rem;
        }
    }

    .h1-7 {
        background-color: rgb(171,161,226);
        color:black;
        padding: 2rem 0rem 2rem 0rem;
        margin: 0rem;
        text-align: center;
    }

    .main-p3 {
        width: 100%;
        margin: auto;
        background-color: rgba(171, 161, 226, 0.250);
        @include grid(repeat(3,31rem), 1fr, center, center, 4rem, none);
        padding: 2rem;
        text-align: center;

        h2 {
            padding: 2rem 0rem 2rem 0rem;
        }
        
        div {
            color:black;
            text-align: center;
        }
        
        img {
            text-decoration:none;
            border-radius: 50%;
            border-width: 1rem;
            border-style: solid;
            border-color: rgb(171,161,226);
            width: 30rem;
            height: 30rem;
        }
    }
}