.main-f {
    padding-top: 13rem;

    .banner-f1 {
        .banner-f1-1 {
            display: block;
            width: 100%;
            margin: 0rem;
        }
        
        .banner-f1-2 {
            display: none;
        }
    }
}