@media(max-width: 1440px) {

    /******************************************/
    /***************HEADER - 1440***************/
    /******************************************/

    .header-1 {
        .header-1-2 {
            .navbar {
                ul {
                    li {
                        a {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }
    

    /******************************************/
    /***************MAIN - 1440****************/
    /******************************************/

    /******************************************/
    /*pagina contactos.html - 1440            */
    /******************************************/
    
    .main-c {
        .main-c1 {
            width: 70%;
        }

        .main-c2 {
            padding: 2rem 10rem 2rem 10rem;
        }
    }

    /******************************************/
    /**************FOOTER - 1440***************/
    /******************************************/

    .footer-1 {
        .footer-1-1 {
            padding: 2rem 4rem 2rem 4rem;
        }

        .footer-1-2 {
            padding: 2rem 4rem 2rem 4rem;
        }
    }
}

