@media (max-width: 1024px) {

    /******************************************/
    /**************HEADER - 1024***************/
    /******************************************/

    .header-1 {
        .header-1-1 {
            .logo {
                width: 20.1rem;
                height: 7rem;
            }
    
            .icono {
                width: 2.4rem;
                height: 2.4rem;
                margin-left: 1rem;
            }
        }
    
        /***********************************************/
    
        .header-1-2 {
            label {
                display: block;

                .menu {
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }

            .navbar {
                margin: 0rem;
                padding: 0.5rem;
                position: absolute;
                background-color: $color-azul;
                top: 11.3rem;
                width: auto;
                margin-left: -70%;
    
                ul {
                    margin: 0rem;
                    padding: 0rem;
                    list-style: none;
                    background-color: $color-azul;
                    flex-direction: column;
                    justify-content: flex-start;
                    
                    li {
                        border-top: 0.05rem solid $color-blanco;

                        a {
                            display: block;
                            font-size: 1.8rem;
                            color: $color-blanco;
                            padding: 0.5rem 1.5rem 0.5rem 1.5rem;
                            text-align: left;
                            letter-spacing: 0.1rem;
                        }
                    }
                }

                .navbar-help {
                    display: none;
                }
            }

            #btn-menu:checked ~ .navbar {
                margin: 0rem;
            }
        }
    }

    
    /******************************************/
    /***************MAIN - 1024****************/
    /******************************************/

    /******************************************/
    /*pagina inicio.html - 1024               */
    /******************************************/

    .main-i {
        .main-i1 {
            .main-i1-1 {
                @include grid(repeat(2, minmax(16rem, 26rem)), repeat(2,1fr), center, flex-start, 3rem, 3rem);
            }
        }
        
        .main-i2 {
            .main-i2-1 {
                @include grid(repeat(2, minmax(16rem, 26rem)), repeat(2,1fr), center, flex-start, 3rem, 3rem);
            }
        }
    }


    /******************************************/
    /*pagina dgfiesta.html - 1024             */
    /******************************************/

    .main-f {
        .main-f1 {
            @include grid(repeat(2, minmax(16rem, 26rem)), repeat(3, 1fr), center, flex-start, 3rem, 3rem);
        }
    }


    /******************************************/
    /*pagina dgnottas.html - 1024             */
    /******************************************/

    .main-g {
        .main-g1 {
            @include grid(repeat(2, minmax(16rem, 26rem)), repeat(3, 1fr), center, flex-start, 3rem, 3rem);
        }
    }


    /******************************************/
    /*pagina dgediciones.html - 1024          */
    /******************************************/

    .main-e {
        .main-e1 {
            @include grid(repeat(2, minmax(16rem, 26rem)), repeat(3, 1fr), center, flex-start, 3rem, 3rem);
        }
    }


    /******************************************/
    /*pagina edcoquito.html - 767             */
    /******************************************/

    .main-q {
        .main-q1 {
            @include grid(repeat(2, minmax(16rem, 26rem)), repeat(3, 1fr), center, flex-start, 3rem, 3rem);
        }
    }


    /******************************************/
    /*pagina catalogos.html - 1024            */
    /******************************************/

    .main-a {
        .main-a1 {
            @include grid(repeat(2,25rem), repeat(3,1fr), center, center, 4rem, 2rem);
        }
    }


    /******************************************/
    /*pagina nosotros.html - 1024             */
    /******************************************/





    /******************************************/
    /*pagina contactos.html - 1024            */
    /******************************************/
    
    .main-c {
        .main-c1 {
            width: 80%;
        }
    
        .main-c2 {
            @include grid(1fr, 2fr, center, center, none, none);

            .main-c2-1 {
                padding: 2rem;
            }
    
            .main-c2-2 {
                @include grid(minmax(16rem, 25rem) minmax(1.6rem, 6rem), 1fr, center, center, none, none);
            }
        }
    }
    
    
    /******************************************/
    /**************FOOTER - 1024***************/
    /******************************************/

    .footer-1 {
        .footer-1-1 {
            @include grid(50% 50%, 1fr 1fr, none, flex-start, none, none);
        }

        .footer-1-2 {
            text-align: center;
        }
    }
    
}

